<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/css/stylesheet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mandatory I</title>
  </head>
  <body>
    <nav class="sidebar">
      <h3 class="heading">
        <a href="/" class="h3">Full stack Node.js Mandatory I</a>
      </h3>
      <ul>
        <li><a href="/datatypes">1. Data types</a></li>
        <li><a href="/functions">2. Functions</a></li>
        <li><a href="/loops">3. Loops</a></li>
        <li><a href="/node">4. Node.js</a></li>
        <li><a href="/restAPI">5. REST API and Express</a></li>
        <li><a href="/fetch">6. Fetch</a></li>
        <li><a href="/git">7. Git</a></li>
        <li><a href="/xss">8. XSS</a></li>
        <li><a href="/htmlcss">9. CSS and HTML</a></li>
        <li><a href="/ssr">10. SSR</a></li>
        <li><a href="/admin">11. Admin login</a></li>
      </ul>
    </nav>
