body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
}

.sidebar ul li a:hover {
    background-color: #555;
}

main {
  flex: 1;
    margin-left: 300px;
    margin-right: 150px;
    margin-bottom: 150px;
 
}
.pre {
     border: 2px solid #333;
     background-color: whitesmoke;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 10px 0;
    line-height: 1.5;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 10px 0;
    line-height: 1.5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    margin: 10px 0;
    line-height: 1.5;
    text-align: justify;
}
input[type="text"],
input[type="number"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 25%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: darkgray;
  color: #fff;
  border: none;
/*   border-radius: 5px; */
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: lightgrey;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* Apply styles to the entire table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Style the table header row */
  th {
    background-color: lightgrey;
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  /* Style the table data cells */
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Give the "Movie Name" column more width for long names */
  td:first-child {
    width: 70%; /* Adjust as needed */
  }