body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
    margin-left: 300px;
    margin-right: 75px;
    margin-bottom: 150px;
 
}
.pre {
     border: 2px solid #333;
     background-color: whitesmoke;
}

/* Styling for elements with text below */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 10px 0;
    line-height: 1.5;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 10px 0;
    line-height: 1.5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    margin: 10px 0;
    line-height: 1.5;
    text-align: justify;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.columns {
  display: flex;
}

/* Comlumns for home and admindummy */

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.column img {
  max-width: 100%;
  height: auto;
}

/* Styling for input and btn */

input[type="text"],
input[type="number"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 25%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: darkblue;
  color: #fff;
  border: none;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: lightgrey;
}

/* Table styling below */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th {
    background-color: lightgrey;
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  td:first-child {
    width: 70%; /* For the movietable column to make it wider sothat it can fit the whole name */
  }


/* Sidebar styling */ 
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #1e3a58;
  color: #fff;
  overflow-y: auto;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.sidebar ul,
.sidebar ul li {
  margin: 0;
  padding: 0;
}

/* Styles the list items as buttons */
.sidebar ul li {
  padding: 10px;
  transition: background-color 0.3s ease; /* Smooth button color transition */
  font-size: 12px;
}

/* Style the anchor links */
.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: block; /* Make the entire list item clickable */
  padding: 10px 15px; /* Padding inside the button-like links */
}

/* Change button color on hover */
.sidebar ul li:hover {
  background-color: #345478;
}

/* Change text color on hover */
.sidebar ul li a:hover {
  color: lightgray;
}

/* Used for the header of the navbar */
.heading {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 10px 0;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.h3 {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease; /* Smooth text color transition */
}

.heading:hover {
  background-color: #345478;
}

.h3:hover {
  color: lightgray;
}